:root {
  --success-color: rgb(33, 199, 33);
  --error-color: rgb(166, 19, 19);
}

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(93, 89, 89);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  background-color: #f9faf7;
  border-radius: 70px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 30px;
  width: 500px;
  height: 700px;
}

h2 {
  text-align: center;
  margin: 0 0 25px;
  font-family: "Open Sans", sans-serif;
}

.form {
  padding: 20px 20px;
}

.form-control {
  height: 100px;
  margin-bottom: 20px;
  position: relative;
  font-family: "Open Sans", sans-serif;
}

.form-control label {
  color: #5a5858;
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

.form-control input {
  display: block;
  border: 2px solid #f4efef;
  margin-bottom: 5px;
  border-radius: 50px;
  width: 100%;
  height: 50px;
  padding: 15px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

.form-control input:focus {
  outline: 0;
  border-color: #5a5858;
}

.form-control.success input {
  border-color: var(--success-color);
}
.form-control.error input {
  border-color: var(--error-color);
}

.form-control small {
  color: var(--error-color);
  position: absolute;
  margin: 5px;
  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
}

.form button {
  cursor: pointer;
  background-color: #3498db;
  display: block;
  border: 2px #3498db;
  border-radius: 40px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
  width: 100%;
}

.google-icon {
  background-color: rgb(224, 232, 13);
  border-radius: 4px;
  display: flex;
}

.facebook-icon {
  background-color: rgb(224, 232, 13);
  border-radius: 4px;
  display: flex;
}

.twitter-icon {
  background-color: rgb(224, 232, 13);
  border-radius: 4px;
  display: flex;
}

.youtube-icon {
  background-color: rgb(224, 232, 13);
  border-radius: 4px;
  display: flex;
}
